ressources/xml_validator/sip.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.eo.esa.int/SIP/2.0/sipInfo" 
xmlns="http:// schemas.eo.esa.int/SIP/2.0/sipInfo " elementFormDefault="qualified">
        <xs:element name="SIPInfo">
               <xs:complexType>
                      <xs:sequence>
                             <xs:element name="SIPCreator" type="xs:string"/>
                             <xs:element name="SIPCreationTime" type="xs:dateTime"/>
                             <xs:any minOccurs="0"/>
                      </xs:sequence>
               </xs:complexType>
        </xs:element>
</xs:schema>